name: Check Source Branch
on:
  pull_request:
    branches:
      - main
jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check if source branch is 'dev'
        run: |
          if [ "${{ github.head_ref }}" != "dev" ]; then
            echo "Error: Pull requests to 'main' must come from the 'dev' branch."
            exit 1
          else
            echo "Success: Pull request is from the 'dev' branch."
          fi
